<% include ./partials/header %>
<div class="container">
    <div class="row">
        <div style="width: 30%;margin:50px auto">
<h1 class="text-center">Sign-Up Here</h1>
<form action="/register" method="POST">
    <label>Username</label>
    <div class="form-group">
    
    <input class="form-control" type="text" placeholder="username" name="username">
    </div>
    <label>Password</label>
    <div class="form-group">
    
    <input class="form-control" type="password" placeholder="password" name="password">
    </div>
    <button class="btn btn-sm btn-primary">Submit</button>
    </div>
</form>
</div>
</div>
<% include ./partials/footer%>